body{
background-color: rgb(255, 255, 255);   
}
.curriculum{
    height:1705px;
    width:50%;
    background-color: rgb(214, 206, 192);
    margin-left: 25%;
}
    
#borde {
    position: absolute;
    width: 48%;
    height: 1690px;
    border: solid 2px rgb(0, 0, 0);
    margin-left: 0.5%;
    margin-top: 0.5%;
}
    
#nombre {
    font-size: 70px;
    text-align: center;
}
    
#profeción {
    text-align: center;
    font-size: 39px;
}

.imgPequeñas{
    display: grid;
    grid-template-columns:  10% 20% 10% 20% 10% 20%;
    margin-left: 10%;
}

.titulo1{
    display: grid;
    margin-left: 30px;
}

.si{
    display: grid;
    grid-template-columns:  repeat(10,1fr);
    margin-left: 10%;
}

hr{
    height: 1px;
    background-color:  rgb(0, 0, 0);
    width: 97%;
}

.circulo{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    border-top: 20px solid rgb(255, 56, 56);
    border-bottom: 20px solid rgb(255, 56, 56);
    border-right: 20px solid rgb(255, 56, 56);
    border-left: 20px solid rgb(255, 56, 56);
    border-left: 20px solid rgb(176, 173, 173);
}

.circulo2{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    border-top: 20px solid rgb(255, 56, 56);
    border-bottom: 20px solid rgb(185, 178, 178);
    border-right: 20px solid rgb(255, 48, 48);
    border-left: 20px solid rgb(185, 178, 178);
}

.circulo3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: transparent;
    border-top: 20px solid rgb(255, 56, 56);
    border-bottom: 20px solid rgb(255, 56, 56);
    border-right: 20px solid rgb(255, 56, 56);
    border-left: 20px solid rgb(255, 56, 56);
}

.circulo4{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    border-top: 20px solid rgb(255, 56, 56);
    border-bottom: 20px solid rgb(255, 56, 56);
    border-right: 20px solid rgb(255, 56, 56);
    border-left: 20px solid rgb(255, 56, 56);
}

.circulo5{
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    border-top: 20px solid rgb(255, 56, 56);
    border-bottom: 20px solid rgb(255, 56, 56);
    border-right: 20px solid rgb(255, 56, 56);
    border-left: 20px solid rgb(255, 56, 56);
}
.tex{
    margin-top: 10px;
}
.titulo2{
    display: grid;
    margin-left: 30px;
}
.titulo4{
    display: grid;
    margin-left: 30px;
}
.titulo5{
    display: grid;
    margin-left: 30px;
}
.container1{
    display: grid;
    grid-template-columns: 50% 50%  ;

}
.titulo6{
    display: grid;
    margin-left: 30px;
}
.img1{
    margin-left: 50px;
    height: 150%;
    width: 70%;
}

.container2{
    display: grid;
    grid-template-columns: 100% 60%;
    border-right: 3px solid black;
    margin-right: 50%;


    
}
.alinear{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px ;
    padding: 8px;
}
#pipi{
text-align: center;
}

.link2{
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
}

.link3{
text-decoration: none;
color: rgb(0, 0, 0);
position: relative;
}
.fin{
    margin-left: 90px;
    margin-top: 50px;
}
button{
background-color: rgb(171, 242, 255);
position: relative;
}

.fin2{
    margin-left: 95px;
    margin-top: 30px;
}

.agregar1{
    display: grid;
    margin-left: 30px;
}
